body{
	background-color: rgb(20, 20, 20);
}

* {
    margin: 0;
    padding: 0;
}

#winDraw{
	font-size: 2rem;
	color: lightgrey;
	justify-items: center;
	align-items: center;
	gap: 50px;

}


#playerNameInput{
	color: lightgrey;
	display: grid;
	max-width: 450px;
	grid-template-columns: 1fr 1fr 2fr;
	grid-template-rows: 1fr 1fr 1fr;
	column-gap: 20px;
	row-gap: 10px;
	justify-items: start;
	align-items: flex-end;
	font-size: 1.25rem;
}

#player2Label:hover, #player1Label:hover, #difficultySelect:hover, #aiLabel:hover{
	color:rgb(180, 120, 0)
}

#player1, #player2{
	padding: 2px 5px 2px 5px;
	font-size: 1.25rem;
	border-radius: 8px;
	margin-bottom: 30px;
}

#ai2Difficulty{
	font-size: 1.25rem;
}


#player1Label{
	grid-row: 1 / 2;
	grid-column: 1 /4;
	justify-self: start;
}

#nameDisplay{
	color: lightgrey;
	font-size: 1.5rem;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: lightgrey;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#playerSubmit{
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	justify-self: center;
}

button{
	color: lightgrey;
	background-color: rgb(20, 20, 20);
	border: 2px solid lightgrey;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 1.25rem;
}

button:hover{
	color: rgb(180, 120, 0);
	border-color: rgb(180, 120, 0);;
}

#topContainer{
	min-height: 100vh;
	width: 100%;
	display: grid;
	justify-items: center;
	align-items: center;
}

#tictacBoard{
	background-color: rgb(20, 20, 20);
	height: 60vh;
	width: 60vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 3px;
}

.Square{
	background-color: lightgray;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Helvetica, sans-serif;
	font-size: 16vh;
}