body{
	background-color: rgb(20, 20, 20);
}

* {
    margin: 0;
    padding: 0;
}

#winDraw{
	font-size: 2rem;
	color: white;
}


#playerNameInput{
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	column-gap: 20px;
	row-gap: 10px;
}

#nameDisplay{
	color: white;
	font-size: 1.5rem;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#topContainer{
	min-height: 100vh;
	width: 100%;
	display: grid;
	justify-items: center;
	align-items: center;
}

#tictacBoard{
	background-color: rgb(20, 20, 20);
	height: 60vh;
	width: 60vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 3px;
}

.Square{
	background-color: lightgray;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 80px;
}